<header class="header">
    <nav>
        <ul>
            <li>
                <h3 class="header-logo">PetZ</h3>
            </li>
        </ul>
    </nav>

    <div class="header-content">
        <h4>Bem-Vindes</h4>
        <h1 class="logo"> PetZ</h1>
        {{!-- <img src="img/showcase.jpg" alt="Imagem de um Pug Sorrindo" class="showcase"> --}}
        <button class="btn btn-cad" id="btn">Cadastre um Pet</button>
    </div>
</header>

<section class="animais">
    <div class="text-xl">Animais para Adoção</div>
    <div class="sub-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum aperiam, accusamus repellendus officiis
        asperiores illo eligendi minus. Veritatis molestias laudantium aliquid enim eum odit nihil? Velit ex nesciunt
        unde iusto!
    </div>

    {{#if zero}}
    
    {{else}}
    <div class="cards">
        {{#each pets}}
        <div class="card">
            <img src="/fotos/{{foto}}" alt="">
            <div class="cover-grad"></div>
            <div class="card-text">
                <div class="sub-tittle">{{idade}} {{med}}</div>
                <h3>{{nome}}</h3>
            </div>

            <div class="sub">
                <h6>Responsável: {{nomeP}}</h6>
                <h6>Telefone: {{tel}}</h6>
            </div>

        </div>
        {{/each}}
    </div>
    {{/if}}


</section>


<section class="cadastro" id="secCad">

    <h2>Cadastre um Pet</h2>

    <form action="cadPet" method="POST" enctype="multipart/form-data">
        <input type="text" name="nome" placeholder="Nome do Animal" required>
        <div class="sel">
            <input type="number" placeholder="Idade" name="idade" min="0" required>
            <select name="med" id="" required>
                <option>Anos ou Meses?</option>
                <option value="Ano(s)">Anos</option>
                <option value="Mes(es)">Meses</option>
            </select>
        </div>

        <div class="sel">
            <input type="text" placeholder="Seu Nome" name="nomeP" required>
            <input type="text" name="tel" class="tel" placeholder="Telefone para Contato">
        </div>

        <div class="file">
            <label for="fileUp">Foto do Animal</label>
            <input type="file" name="image" id="fileUp" required>
            <span id="path"></span>
        </div>

        <button class="btn" type="submit">Enviar</button>
    </form>

</section>


<section class="quote">
    <div class="divider"></div>
    <div class="quote-text">
        <p>Todos os seres são iguais, pela sua origem, seus direitos naturais e divinos e seu objetivo final.</p>

        <cite title="São Francisco de Assis">São Francisco de Assis</cite>
    </div>

    <div class="divider"></div>
</section>

<footer class="footer">
    <div class="footer-container">


        <div class="utils">
            <a href="#!">instagram</a>
            <a href="#!">Facebook</a>
        </div>

        <div class="small">
            <small>Desenvolvido por: Norton dos Santos</small>
        </div>
    </div>

</footer>